__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
